@import "../../styles/colors.scss";
.button {
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: $davysGray;
  box-shadow: $--shadow;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    color: $manatee;
  }
  &:active {
    box-shadow: inset;
    transform: translateY(2px);
  }
  &.__primary {
    background-color: $aliceBlue;
  }
  &.__secondary {
    background-color: $wildBlueYonder;
  }
  &.__disabled {
    background-color: $manatee;
    cursor: not-allowed;
    color: $white;
    transform: translateY(0px);
  }
}
