.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #4c5862;
    &__selected {
        background-color: #cae9ff;
        width: 140%;
        height: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-weight: 500;
    }
    &__not-selected {
        width: 100%;
        height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
    }
    &__selected-first {
        background: linear-gradient(315deg, #a498e4 -0.12%, #1dacd7 99.88%);
        color: white;
        width: 100%;
        height: 70%;
        display: flex;
        z-index: 1;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 50%;
        font-weight: 700;
    }
    &__selected-last {
        background: linear-gradient(315deg, #a498e4 -0.12%, #1dacd7 99.88%);
        color: white;
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        font-weight: 700;
    }
}
