$aliceBlue: #dcedff;
$wildBlueYonder: #94b0da;
$manatee: #8f91a2;
$davysGray: #505a5b;
$outerSpaceCrayola: #343f3e;
$white: #fff;

$--gradient: linear-gradient(
  100deg,
  rgba(220, 237, 255, 1) 0%,
  rgba(148, 176, 218, 0.5) 100%
);

$--shadow: 5px 5px 10px -10px rgba(80, 90, 91, 0.5);